/* reset all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  line-height: 1.1;
}
ul li {
  list-style: none;
}

a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;

  text-align: center;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 8%);
}
/* use profile styling */
.user-name {
  font-size: 24px;
  font-weight: 600;
}
.user-location {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}
.list-items {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.7rem;
  border-radius: 0.3rem;
  background-color: hsl(0, 0%, 20%);
}
